<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/home-style.css">
</head>

<body>
    <header>
        <nav class="navbar navbar-light bg-light">
           <form action="home/logout" method="POST"><button type="submit" class="btn btn-success">Log Out</button></form>
           
        </nav>
    </header>

    <div>
        <h1>Welcome, {{name}}</h1>
        
        <div class="cards container">
            {{#each items}}
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="images/{{this.id}}.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{this.title}}</h5>
                </div>
            </div>
            {{/each}}
        </div>
        
    </div>
</body>

</html>